<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.cube.geofencing">
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application>
		<service android:name="com.cube.geofencing.RNRegionTransitionService"/>

		<receiver android:name="com.cube.geofencing.RNRegionMonitorBootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
	</application>
</manifest>


